.env
./venv
*.log
backend_python/.env
.vscode/settings.json
./__pycache__
./Lib
backend_python/venv

Solver/__pycache__

backend_python/__pycache__
frontend/node_modules
backend_python/node_modules

frontend/%ProgramData%
node_modules
Solver/helper.py
Solver/components.py
Solver/solver.py
Random/rotations.ipynb
